<ion-view 
		view-title="Pick a treasure hunt" 
		id="start-page" 
		class="background-primary-{{currentColorScheme.primaryBackground}}">
  <ion-content>
  	<div 
  		id="company-landing-page-container" 
  		>

		<div class="card client-button" >
			<img src="{{currentClient.imgUrl}}"/>
			<!--<h1>{{currentClient.name}}</h1>-->
		</div>

		<p class="card">
			{{currentClient.description}}
		</p>

		<div class="treasure-hunt-container">
		<h4 class="center">Select a treasure hunt</h4>
			<ion-scroll direction="x" has-bouncing="true">
				<div class="row">
					<div ng-repeat="hunt in currentClient.hunts" class="col-75">
						<a  href="#/app/hunt/{{hunt.id}}" ng-click="networkTest()">
							<div class="card treasure-hunts center">
								<i ng-show="hunt.locked" class="icon ion-android-lock pad-right"></i>{{hunt.name}}
							</div>
						</a>
					</div>
				</div>
			</ion-scroll>
		</div>

		<!--<label class="item item-input item-select">
			<div class="input-label">
				<h3>Available Treasure Hunts</h3>
			</div>
			<select>
				<option ng-repeat="hunt in currentClient.hunts"
						href="#/app/landing">
					{{hunt}}
				</option>
			</select>
		</label>-->
	</div>
  </ion-content>
</ion-view>

