<ion-view 
		view-title="{{hunt_meta.title}} [{{hunt_current}}/{{hunt_data.length}}]" 
		id="start-page" 
		hide-nav-bar="true" 
		class="background-primary-{{currentColorScheme.primaryBackground}}">
	<ion-header-bar align-title="left" class="bar-positive">
		<h1 class="title">{{hunt_meta.title}} [{{hunt_current}}/{{hunt_data.length}}]</h1>
		<div class="buttons score-container">
			Score <br/><span>{{huntScore}}</span>
		</div>
	</ion-header-bar>
	<ion-content>
		<div 	class="progress-bar" 
				style="width:{{100*hunt_current/hunt_data.length}}%;">
		</div>
		<div 
			id="hunt-container" class="{{animationControl}}"
			>
			<div class="card question-container">
                
				{{hunt_data[hunt_current-1].question}}
			</div>
            
            <!--div class="card question-container" ng-init=treasureHuntId()>
                
				{{hunt_data[hunt_current-1].clueDesc}}
			</div-->

			<label class="item item-input">
				<input type="text" placeholder="Answer for {{hunt_data[hunt_current-1].points}} points">
			</label>
		</div>
	</ion-content>
    <div class="timer-bar"
		style="width:{{100*hunt_meta.timePerQuestion/hunt_data[hunt_current-1].time}}%; position:fixed; bottom:0px; z-index:100;">
	</div>

	<ion-footer-bar align-title="left" class="bar">
		<div class="buttons"
			 ng-show="hunt_data[hunt_current-1].easierClues[easier_current-1].pointLoss">
			<button class="button"
					ng-click="provideEasierClue()">
				Easier Clue
			</button>
		</div>
		<h1 class="title">
			<span ng-show="hunt_meta.timePerQuestion>-1">
				{{hunt_meta.timePerQuestion}}
			</span>
            <span ng-show="hunt_meta.timePerQuestion==-1">
				<i class="icon ion-ios-infinite"></i> 
			</span>
		</h1>
		<div class="buttons">
			<button ng-show="hunt_current!=hunt_data.length" 
					class="button button-calm"
					ng-click="showPopupSubmit()">
					Submit({{hunt_data[hunt_current-1].points}} Points)
			</button>
			<button ng-show="hunt_current==hunt_data.length" 
					class="button button-balanced"
					ng-click="finishHunt()">
					Finish
			</button>
		</div>
	</ion-footer-bar>
</ion-view>

