<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{hunt}} Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="row">
      <div class="col">
        <button class="button button-block button-positive">
          <i class="icon ion-social-facebook"></i>
        </button>
      </div>
      <div class="col">
        <button class="button button-block button-assertive">
          <i class="icon ion-social-googleplus"></i>
        </button>
      </div>
    </div>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <input type="text" ng-model="loginData.username" placeholder="Username">
        </label>
        <label class="item item-input">
          <input type="password" ng-model="loginData.password" placeholder="Password">
        </label>
        <label class="item">
          <button class="button button-block button-calm" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
