
<ion-modal-view>
  <ion-content>
   <h1>Selfie</h1>
   <img class="padding" ng-src={{selfiePic}}>
   <div>
   <a class="button button-positive" ng-click="takePicture()">Retake</a>
   <a class="button button-assertive" ng-click="closeImage()">OK</a>
   <div>
  </ion-content>
</ion-modal-view>