<ion-view 
		view-title="{{appTitle}}" 
		id="start-page" 
		class="background-primary-{{currentColorScheme.primaryBackground}}">
  <ion-content>
  	<div 
  		id="landing-page-container" 
  		>


		<label class="item item-input center">
			<input type="text" placeholder="Find a provider" ng-model="filterBy">
		</label>

		<div class="client-card" ng-repeat="client in clients | filter:filterBy | limitTo:limitItemsTo">
			<a href="#app/landing/{{client.id}}">
				<div class="client-card-img">
					<img src="{{client.imgUrl}}"/>
				</div>
			</a>
		</div>
<!--
		<div ng-repeat="corporate in corporateDetails">
			<a href="#app/landing/{{corporate.id}}">
				<div class="card client-button" >
					<img src="{{corporate.corpLogo}}"/>
				</div>
	</div>
-->

		<ion-infinite-scroll
			on-infinite="showMoreItems()"
			distance="1%">
		</ion-infinite-scroll>

		

	</div>
  </ion-content>
</ion-view>

