<ion-view 
		view-title="Leaderboards" 
		id="start-page" 
		class="background-primary-{{currentColorScheme.primaryBackground}}">
	<ion-content >
		<label class="item item-input item-select">
			<div class="input-label">
				Hunt
			</div>
			<select ng-model="current_hunt">
				<option ng-repeat="hunt in global_leaders" value="{{$index}}" ng-selected="$index==initializeBoard">
					{{hunt.name}}
				</option>
			</select>
		</label>
		<ion-list>
			<ion-item ng-repeat="leader in global_leaders[current_hunt].users | orderBy:leader.score"
            		  class="item-thumbnail-left">
            	<img ng-src="{{leader.img}}"/>
				<h2>{{leader.name}}</h2>
				<p>{{leader.score}}</p>
			</ion-item>
		</ion-list>
	</ion-content>
<!--
  	<ion-tabs class="tabs-positive tabs-icon-only">

	  <ion-tab title="Home" icon-on="ion-earth" icon-off="ion-earth">
		<ion-list>
			<ion-item ng-repeat="leader in global_leaders"
            		  class="item-thumbnail-left">
            	<img ng-src="{{leader.img}}"/>
				<h2>{{leader.name}}</h2>
				<p>{{leader.high_score}}</p>
			</ion-item>
		</ion-list>
	  </ion-tab>

	  <ion-tab title="Settings" icon-on="ion-location" icon-off="ion-location">
	  </ion-tab>

	</ion-tabs>
-->

</ion-view>

