
<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>    
 <div class="row">
      <div class="col">
        <button class="button button-block button-positive" ng-click="fblogin()">
          <i class="icon ion-social-facebook"></i>
        </button>
      </div>
      <div class="col">
        <button class="button button-block button-assertive" ng-click="gplusLogin()">
          <i class="icon ion-social-googleplus"></i>
        </button>
      </div>
     <div class="col">
        <button class="button button-block button-calm">
          <i class="icon ion-social-twitter"></i>
        </button>
      </div>
    </div>
      <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          
          <input type="text" ng-model="loginData.username" ng-minlength="1" placeholder="Username">
        </label>
        <label class="item item-input">
          
          <input type="password" ng-model="loginData.password" ng-minlength="1" placeholder="Password">
        </label>
		
        <label class="item">
		<!--a class="item-text-wrap">
		<center>By creating account you are agree to Orion Orbit's <a href="#">Terms of use</a> and <a href="#">privacy policy</a>.</center></a-->
          <button class="button button-block button-calm" type="submit">Log in</button>
		  <center><a href="#/app/landing" ng-click="closeLogin()">Forgot Password?</a></center>
        </label>
		
      </div>
    </form>
          <button class="button button-block button-balanced" ng-click="signUp()">New to {{appTitle}}? Sign Up!</button>
      <a class="button button-block button-calm" ng-click="register()">Register</a>
          <a href="#/app/landing" ng-click="closeLogin()">Skip Login</a>
  </ion-content>
</ion-modal-view>