
<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Maps</h1>
    <div class="buttons">
      <a class="button button-clear" href="#/app/start" ng-click="closeMaps()">Close</a>
    </div>
  </ion-header-bar>
    
 <ion-content scroll="false">
      <map on-create="mapCreated(map)"></map>
    </ion-content>

    <ion-footer-bar class="bar-stable">
      <a ng-click="centerOnMe()" class="button button-icon icon ion-android-locate"></a>
    </ion-footer-bar>
</ion-modal-view>