<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <div class="user-menu-container" href="#/app/landing">
        <img src="{{currentUserImg}}" class="user-img"/>
        <h1 class="title">{{currentUser}}</h1>
      </div>
    </ion-header-bar>
    <ion-content>
      <ion-list>
	  <ion-item menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item menu-close href="#/app/landing">
          Find a Treasure Hunt
        </ion-item>
        <ion-item menu-close href="#/app/myhunts">
          Saved Hunts
       </ion-item>
        <ion-item menu-close href="#/app/leaderboard/0">
          Leaderboard
         </ion-item>
          <ion-item menu-close href="#/app/maps">
          Maps
        </ion-item>
	  <ion-item menu-close href="#/app/profile" ng-click="profile()">Profile</ion-item>
		<ion-item menu-close ng-click="logout()">Log out</ion-item>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
