<ion-view 
		view-title="{{currentTab}} Hunts" 
		id="start-page" 
		class="background-primary-{{currentColorScheme.primaryBackground}}">

	  	<ion-tabs class="tabs-positive tabs-icon-top">

		  <ion-tab title="Saved" icon-on="ion-ios-book" icon-off="ion-ios-book-outline">

			<ion-list>
				<ion-item ng-repeat="hunt in savedHunts"
						  class=" item-icon-left item-icon-right"
						  href="#/app/hunt/{{hunt.id}}">
					<i class="icon {{hunt.icon}}"></i> 
					{{hunt.name}}
					<i class="icon ion-play"></i> 
				</ion-item>
			</ion-list>

		  </ion-tab>

		  <ion-tab title="Completed" icon-on="ion-ios-checkmark" icon-off="ion-ios-checkmark-outline">

			<ion-list>
				<ion-item ng-repeat="hunt in completedHunts"
						  class="item item-icon-right"
						  href="#/app/leaderboard/{{hunt.boardId}}">
					{{hunt.name}}
					<i class="icon ion-podium"></i> 
				</ion-item>
			</ion-list>
			
		  </ion-tab>

		</ion-tabs>

</ion-view>

