 <ion-view 
		id="start-page" 
		hide-nav-bar="false" >
		<ion-header-bar>
	
    <h1 class="title">Profile</h1>
    <div class="buttons">
      <a class="button button-clear" href="#/app/start" ng-click="closeProfile()">Close</a>
	  
    </div>
  </ion-header-bar>
 
    <ion-content>
        <div class="list">
            <a class="item item-avatar" href="#">
      <img src={{user.profilePic}}>
      <h2>{{user.displayName}}</h2>
    </a>
			<form ng-submit="updateProfile()">
            <div class="list">
                
                <label class="item item-input">
                    <span class="input-label">Display Name</span>
                    <input ng-model="user.displayName" type="text" placeholder="Name">
                </label>
				<label class="item item-input field-disabled">
                    <span class="input-label">Email</span>
                    <input ng-model="user.email" type="email" placeholder="user@email.com">
                </label>
                 <label class="item item-input">
                    <span class="input-label">Location</span>
                    <input ng-model="user.location" type="text">
                </label>
                <label class="item item-input">
                    <span class="input-label">Phone</span>
                    <input ng-model="user.phone" type="text" placeholder="Phone">
                </label>
                <label class="item item-input">
                    <span class="input-label">Birthday</span>
                    <input ng-model="user.birthday" type="text" placeholder="">
                </label>
                <label class="item item-input em-gender">
                    <span class="input-label">Gender</span>
					<span class="input-label" ng-model="user.gender">{{user.gender.toUpperCase()}}</span>
                    
                </label>
<div>
<button class="button button-block button-calm" type="submit" href="#/app/landing">Save</button>

</div>
</form>

            </div>
        </div>
    </ion-content>
<div id="footer" class="bar bar-footer">
        <div class="title em-footer-title">© Orion Orbit</div>
    </div>
</ion-view>
