
<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Register</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeRegister()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
      <div class="row">
      <div class="col">
        <button class="button button-block button-positive" ng-click="fblogin()">
          <i class="icon ion-social-facebook"></i>
        </button>
      </div>
      <div class="col">
        <button class="button button-block button-assertive" ng-click="gplusLogin()">
          <i class="icon ion-social-googleplus"></i>
        </button>
      </div>
     <div class="col">
        <button class="button button-block button-calm">
          <i class="icon ion-social-twitter"></i>
        </button>
      </div>
    </div>
    <form ng-submit="doRegister()">
	  <div class="list">
        <label class="item item-input">
          <input type="text" ng-model="registerData.firstName" ng-minlength="1" placeholder="Username">
        </label>
          <label class="item item-input">
          <input type="email" ng-model="registerData.emailId" ng-minlength="1" placeholder="Email">
        </label>
        <label class="item item-input">
          
          <input type="password" ng-model="registerData.password" ng-minlength="1" placeholder="Password">
        </label>
		
        <label class="item">
		<!--a class="item-text-wrap">
		<center>By creating account you are agree to Orion Orbit's <a href="#">Terms of use</a> and <a href="#">privacy policy</a>.</center></a-->
          <button class="button button-block button-calm" type="submit">Register</button>
		  
        </label>
		
      </div>
    </form>         
  </ion-content>
</ion-modal-view>