<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Sign Up</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeSignUp()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <h3 class="center">Select your preferred method of signing up for {{appTitle}}</h3>
    <div class="row">
      <div class="col col-40 card signup-buttons mail-button">
        <i class="icon ion-android-mail"></i>
        <h5>E-mail</h5>
      </div>
      <div class="col col-40 card signup-buttons facebook-button">
      <i class="icon ion-social-facebook" ng-click="fblogin()"></i>
        <h5>Facebook</h5>
      </div>
    </div>
    <div class="row">
      <div class="col col-40 card signup-buttons twitter-button">
        <i class="icon ion-social-twitter"></i>
        <h5>Twitter</h5>
      </div>
      <div class="col col-40 card signup-buttons googleplus-button">
        <i class="icon ion-social-googleplus" ng-click="gplusLogin()"></i>
        <h5>Google+</h5>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
