<ion-view 
		view-title="Orion Orbit" 
		id="start-page" 
		hide-nav-bar="true" 
		class="background-primary-{{currentColorScheme.primaryBackground}}">
  <ion-content>
  	<div 
  		id="start-page-container" 
  		>
		<h1>{{appTitle}}</h1>

		<div class="video-wrapper">
			<video width="320" height="240" controls>
				<source src="Vid/video.mp4" type="video/mp4">
				Your browser does not support the video tag.
			</video>
		</div>

		<div class="button-fun-wrapper">
			<button class="button button-fun" ng-click="login()">
				Play!
			</button>
			</div>
			</div>
  </ion-content>
</ion-view>

