/* Empty. Add your own CSS if you like */

/* 	Orion Orbit Style Sheet
	Author: 		Nabil Enayet
	Created For:	Arvind Sivdas
	Created: 		9/8/2015
*/


map {
  display: block;
  width: 100%;
  height: 100%;
}
.scroll {
  height: 100%;
}


/*******************		
	Helper Classes		
********************/
.center {
	text-align:center;
}

.item-input.center > input {
	text-align:center;
}

i.icon.pad-right {
	margin-right:5px;
}

/*******************		
	Buttons		
********************/

.button-fun {
	border-radius:4px;
	border-style:none;
	transition: 0.4s ease;
}

.button-fun:active {
	transform: translateY(10px);
	transition: 0.4s ease;
}

.button-fun-wrapper {
	background-color:gainsboro;
	padding-bottom:7px;
	display:inline-block;
	border-radius:4px;
}

.button-fun-wrapper:active {
	transform:translateY(10px);
}


/*******************		
	Color Config 			
********************/

/* Universal Colors */
.body {
	color:white;
}

/* Themeable Colors*/

	/* DUOLINGO BLUE */
.background-primary-blue {
	background-color:#184a7e;
}
.background-secondary-blue {
	background-color:#e3eefb;
}

	/* ORANGE */
.background-primary-orange {
	background-color:#ff7310;
}
.background-secondary-orange {
	background-color:#faebe0;
}

	/* QUORA MAROON */
.background-primary-maroon {
	background-color:#b92b27;
}
.background-secondary-maroon {
	background-color:#fae3e0;
}

/*******************		
	Menu		
********************/

.user-menu-container {

}

.user-menu-container > img.user-img {
	height: 40px;
	width:  40px;
	border-radius:50%;
}



/*******************		
	Start Page		
********************/
#start-page-container {
	width:100%;
	height:100%;
	text-align: center;
}

#start-page-container > h1 {
	color:white;
	padding-top:150px;
}

/*******************		
	Signup/Login		
********************/

.signup-buttons {
	font-size:3em;
	text-align: center;
	padding:20px;
}

.signup-buttons.twitter-button {
	color:#00aced;
}
.signup-buttons.facebook-button {
	color:#3b5998;
}
.signup-buttons.googleplus-button {
	color:#dd4b39;
}
.signup-buttons.mail-button {
	color:limegreen;
}

.or-bar {
	padding-top:5px;
	padding-bottom:20px;
}

.or-bar > div {
	height: 1px; 
	background-color: black; 
	text-align: center;
}

.or-bar > div > span {
	background-color: white; 
	position: relative; 
	top: -0.7em; 
	padding-left:10px; 
	padding-right:10px;
}

/*******************		
	Company Pages		
********************/

.client-button > img {
	height:70px;
	width:auto;
	margin:auto;
	left:0;
	right:0;
	position:absolute;
	display:block;
}

.client-card {
    width: 50%;
    margin: 0;
    float: left;
}

.client-card-img {
	background-color:whitesmoke;
	padding:10px;
	margin:10px;
	border-radius:5px;
	height:150px;
}

.client-card-img > img {
	max-width:100%;
}

.client-button {
	padding:20px;
	height:110px;
}

#landing-page-container > h1 {
	color:white;
}

#company-landing-page-container > p {
	padding:5%;
	margin:10%;
	background-color:white;
	text-align: center;
}

.card.treasure-hunts {
	padding:10px;
}

.treasure-hunt-container {
	padding:5px;
	background-color:whitesmoke;
}

.badge {
	position:absolute;
}

/*******************		
		Hunt		
********************/
.progress-bar {
	height:5px;
	background-color:orange;
	transition: all 0.4s;
}

.timer-bar {
	height:4px;
	background-color:green;
	transition: all 0.2s;
}

.question-container {
	padding:20px;
}

.score-container > span {
    position: fixed;
    bottom: 0;
    right: 10px;
}

.item-input > input {
	text-align:center;
}